*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.container{
    background-image: url(https://cdn.pixabay.com/photo/2023/09/16/18/18/wallpaper-8257343_640.png);
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size:cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
}

.box {
    background-color: white; 
    width:50%; 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
    padding:10px;
    border-radius: 4px;
}
.box p{
    display: none; 
}

.box.active p{
    display: block;
}