*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.box{
    height:400px; 
    width:400px; 
    background-color: yellow;
}